* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(43, 43, 43);
}
header {
    
    margin: auto;
    width: 100%;
    padding: 60px 0;
    position: fixed;
}


header.rolagem {
    border-radius: 0 30px;
    margin: auto;
    background: #0000025;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(10px);
    
    
}
link-item{
    width: 100px;
    height: 100px;
    background-color: aqua;
}
.container {
    margin: auto;
    width: 100%;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 1000;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Mulish', sans-serif;
    margin-left: 50px;
}

.logo:hover {
    color: rgb(98, 0, 255);
}

.navitens {
    list-style-type: none;


}

.navitens>li {
    display: inline-block;
    font-size: 25px;
    margin: 0px 40px;
    font-family: 'Mulish', sans-serif;
    font-weight: 550;
}

.navitens>li>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.navitens>li>a:hover {
    color: rgb(98, 0, 255);
}

.imagemtopo {

    background-color: #27283E;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
.image{
    width: 99vw
}
.lista-nav {
    margin: 0px 15px;
}


.nada {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: rgb(68,68,96);
    background: linear-gradient(38deg, rgba(68,68,96,0.4654236694677871) 0%, rgba(8,0,42,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.item{
    background: #f0ffff25;
    backdrop-filter: blur(10px);
    width: 250px;
    height: 300px;
    margin: 100px;
    border-radius: 15%;
    align-items: center;
    justify-content: center;
}
.image-item{
    max-height: 150px;
    max-width: 100px;
    border-radius: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.text-item{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 25px;
    justify-content: center;
    align-items: center;


}
