* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    
    background-color: rgb(43, 43, 43);
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgb(255, 0, 170);
}
.button-menu{
    display: none;
}

header {
    
    margin: auto;
    width: 100%;
    padding: 50px 0;
    position: fixed;
}


header.rolagem {
    border-radius: 0 30px;
    margin: auto;
    background: #0000025;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(10px);
    padding: 20px 0;
    
    
}

.container {
    margin: auto;
    width: 100%;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 1000;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Mulish', sans-serif;
    margin-left: 50px;
}

.logo:hover {
    color: rgb(98, 0, 255);
}

.navitens {
    list-style-type: none;


}

.navitens>li {
    display: inline-block;
    font-size: 25px;
    margin: 0px 40px;
    font-family: 'Mulish', sans-serif;
    font-weight: 550;
}

.navitens>li>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.navitens>li>a:hover {
    color: rgb(98, 0, 255);
}

.imagemtopo {
    background-color: #27283E;
}
.image{
    background: url(purple-mountain-landscape.jpg);
    width: 100%;
    height: 120vh;
    background-size: cover;
    color: #3c0c54;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    text-align: center;
    background-attachment: fixed;
    
}
.image>h2{
    font-size: 70px;
    text-align: center;
}
.image>hr{
    width: 40%;
    height: 2px;
    border: 2px solid #3c0c54;
}

.lista-nav {
    margin: 0px 15px;
}


.main-cont {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    background: rgb(68,68,96);
    background: linear-gradient(38deg, rgba(68,68,96,0.4654236694677871) 0%, rgba(8,0,42,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.item{
    background: rgba(108, 41, 175, 0.317);
    width: 320px;
    height: 350px;
    border-radius: 15%;
    margin: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.item:hover{
    box-shadow: rgba(111, 0, 255, 0.15) 0px 48px 100px 0px;
}
.link-item{
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    
}
.link-item>hr{
    width: 80%;
    color: rgb(175, 90, 255);
}
.link-item:hover{
    color: rgb(175, 90, 255);
}
.subtitle{
    margin-top: 15px;
    width: 90%;
    font-family: 'Mulish', sans-serif;
    color: white;
    font-size: 17px;
}
.sub-subtitle{
    margin-top: 10%;
    font-size: 25px;
}
.line-item1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.right-main-cont{
    display: flex;
    flex-direction: column;
    margin: 80px;
    justify-content: center;
    align-items: center;
    width: 50%;
}
left-main-cont{
    width: 60%;
}
.right-main-cont>h1{
    color: white;
    font-size: 50px;
    font-weight: 900px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    margin: 5px;

}
.right-main-cont>p{
    color: white;
    width: 60%;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    
}
.right-main-cont>h2{
    color: white;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    margin: 10px;
}
.right-main-cont>hr{
    color: rgb(128, 0, 255);
    width: 80%;
    height: 3px;
    margin: 15px;
}


.line-item2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.text-item{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 25px;
    justify-content: center;
    align-items: center;


}
.ant-client{
    font-family: 'Mulish', sans-serif;
    display: flex;
    width: 100%;
    height: 600px;
    background: url(/peakpx.jpg);
    flex-direction: column;
}
.ant-client>h1{
    font-size: 40px;
    font-weight: 800;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    color: white;
}
.ant-client>hr{
    width: 30%;
    margin: 10px auto;
}
.client{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

.client>h1{
    text-align: center;
}
.perfil-client{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.img-client{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url(/imagemperfil.jpeg);
    background-size: cover;
    border: 2px solid white;

}
.name-client{
    font-size: 35px;
    color: white;
    margin: 15px;
    font-weight: 800;
}
.coment-client{
    width: 40%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    background-color: #ffffff4b;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff4b;
    text-align: center;
}






.footer{
    width: 100%;
    height: 300px;
    background: rgb(68,68,96);
    background: linear-gradient(38deg, rgba(68,68,96,0.4654236694677871) 0%, rgba(8,0,42,1) 100%);
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: 'Mulish', sans-serif;

}
.up-footer{
    padding: 40px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    text-decoration: none;
    list-style: none;
}
.up-footer>div>ul>h1{
    font-size: 20px;
    margin-bottom: 10px;
}
.up-footer>div>ul>li{
    text-decoration: none;
    list-style: none;
    margin: 5px;
    color: aliceblue;
}

.end-footer{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
.link-end-footer{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    
}
.l-e-f{
    text-decoration: none;
    list-style: none;
    margin: 10px;
    color: aliceblue;
}
@media (max-width: 500px) {
    body{
        width: 100vw;
    }
    .image{
        background: url(purple-mountain-landscape.jpg);
        width: 100%;
        height: 50vh;
        background-size: cover;
        color: #3c0c54;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 400;
        text-align: center;
        
    }
    .image>h2{
        font-size: 25px;
    }
    .image>h1{
        font-size: 30px;
    }
    .tudo{
        width: 100%;
    }
    .navitens{
        display: flex;

        margin: 50px;
        flex-direction: column;
    }
    .navitens>li {
        font-size: 25px;
        margin: 20px 0;
        font-family: 'Mulish', sans-serif;
        font-weight: 550;
    }
    nav{
    }
    .button-menu {
        display: block;
        border: none;
        background: none;
        border-top: 3px solid #fff;
        cursor: pointer;
        z-index: 1;
        margin: auto;
      }
      
    .button-menu::after,
    .button-menu::before {
        content: " ";
        display: block;
        width: 30px;
        height: 3px;
        background: #fff;
        margin-top: 5px;
        position: relative;
        transition: 0.3s;
      }
    .flex {
        display: none;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .logo {
        text-decoration: none;
        color: white;
        font-size: 30px;
        font-weight: 1000;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Mulish', sans-serif;
        margin-left: 50px;
        text-align: center;
        margin: auto;
    }
    header{

        display: flex;
        max-width: 100%;
        height: 100px;
        background-color: #3c0c54;
        top: 0;
        right: 0;
        
    }
    header.rolagem {
        border-radius: 0 30px;
        margin: auto;
        background: #0000025;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        backdrop-filter: blur(10px);
    
        
        
    }
    .item{
            background: rgba(108, 41, 175, 0.317);
            border-radius: 15%;
            margin: 20px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
    }
    .link-item{
        color: white;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 25px;
        font-family: 'Bebas Neue', sans-serif;
        
    }
    .subtitle{
        margin-top: 15px;
        max-height: 100px;
        font-family: 'Mulish', sans-serif;
        color: white;
        font-size: 18px;
        text-align: center;
        
    }
    .footer{
        display: none;
    }
    .right-main-cont{
        display: flex;
        flex-direction: column;
        margin: 80px;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .sub-subtitle{
        margin-top: 30%;
        font-size: 25px;
    }
    .line-item1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .line-item2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .ant-client{
        font-family: 'Mulish', sans-serif;
        display: flex;
        width: 100%;
        height: 100%;
        background: url(/peakpx.jpg);
        flex-direction: column;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ant-client>h1{
        font-size: 30px;
        font-weight: 800;
        padding-top: 60px;
        display: flex;
        justify-content: center;
        color: white;
        text-align: center;
    }
    .ant-client>hr{
        width: 50%;
        margin: 15px auto;
    }
    .client{
        width: 80%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }
    
    .client>h1{
        text-align: center;
    }
    .perfil-client{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        
    }
    .img-client{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: url(/imagemperfil.jpeg);
        background-size: cover;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;
    
    }
    .name-client{
        font-size: 35px;
        color: white;
        margin: 15px;
        font-weight: 800;
    }
    .coment-client{
        width: 95%;
        font-size: 20px;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff4b;
        border-radius: 20px;
        backdrop-filter: blur(10px);
        border: 1px solid #ffffff4b;
        text-align: center;
        margin: 30px 0;
    }
    
    
}
